<!DOCTYPE html>
<html>
	<head>
		<title><%= yield :title %></title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="icon" type="image/x-icon" href="<%= asset_path('joystick2.png') %>">
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>
		
		<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
		<%= javascript_importmap_tags %>
		<%= javascript_include_tag "https://kit.fontawesome.com/6cf1bd7fe9.js" %>
		<%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js" %>
		<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js" %>
		<%= javascript_include_tag 'lessons_terminal' %>
		<%= javascript_include_tag 'challenges' %>
	</head>

	<body class="bg-dark text-light">
		<%= yield %>
	</body>
</html>
